PORT=5000
DB_NAME=service-app
DB_USER=postgres
DB_PASS=123456
DB_HOST=localhost
DB_PORT=5432
JWT_SECRET_REFRESH=PXf$FA/v`TG%!Ky_^57NQY
JWT_SECRET_ACCESS=qwjLbYD`k]873CVy9z.2-W
JWT_SECRET_REFRESH_EXP=10d
JWT_SECRET_ACCESS_EXP=2h
SALT_ROUND=10
COOKIE_MAX_AGE=3600000